@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Nunito|Pacifico|Allerta|PT+Sans+Narrow');

p {
	font-family: 'PT Sans Narrow', sans-serif;
}

ul {font-family: 'Nunito';}

h1 {
	font-family: 'Pacifico', Helvetica, Arial, sans-serif;
	font-size: 50px;
	line-height: 55px;
}

/*does not display for some reason*/
.featured--article{
	background-image: url('../img/ribbon.png');
	/*    background-color: #cccccc;*/
	/*    background-position: center;  */
}
.header{
	font-family: 'Josefin Sans', sans-serif;
}

.background{
	align-content: right;
}

.jumbotron{
	font-family: 'Pacifico';
	color: purple;
	background-color: white;
	padding-bottom: 50px;
	margin-top: -20px;
}

.header2{
	font-family: 'Nunito';
}

.panel{
	border: 0;
	box-shadow: 0;
	padding: 2px;

}

.panel > .panel-heading {
	background-image: none;
	background-color: #F3E5F5;
	border-radius: 20px;
}

.circles{
	position: relative;
	width: 100%;
	padding-top: 30px;
	padding-bottom:50px;
	font-family: 'PT Sans Narrow', sans-serif;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.circles .circle{
	width: calc(20% - 40px);
	position: relative;
	margin: 10px;
	background-color: purple;
	cursor: pointer;
	border-radius: 100%;
	transition: background 0.3s;
}

.circles .circle:hover{
	background-color: #CC99FF;
}

.circles .circle:before{
	padding-top: 100%;
	content: '';
	display: block;
}

.circles .circle a{
	color: #FFFFFF;
}

.circles .circle a .inner{
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	width: 100%;
	text-align: center;
	font-size: 20px;
	line-height: 22px;
	vertical-align: middle;
	transition: opacity 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.circles .circle a .inner p {
	margin: 0;
}

.circles .circle a .inner.on{
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/* IE 5-7 */
	filter: alpha(opacity=0);
	/* Netscape */
	-moz-opacity: 0;
	/* Safari 1.x */
	-khtml-opacity: 0;
	/* Safari */
	-webkit-opacity: 0;
	/* Good browsers */
	opacity: 0;
}
.circles .circle:hover a .inner.off{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	-webkit-opacity: 0;
	opacity: 0;
}
.circles .circle:hover a .inner.on{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	-webkit-opacity: 1;
	opacity: 1;
}
