@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Nunito|Pacifico|Allerta');

p {font-family: 'Nunito';}
ul {font-family: 'Nunito';}

h1 {
	font-family: 'Pacifico', Helvetica, Arial, sans-serif;
	font-size: 50px;
	line-height: 55px;
}

/*does not display for some reason*/
.featured--article{
    background-image: url('../img/ribbon.png');
/*    background-color: #cccccc;*/
/*    background-position: center;  */
}
.header{
    font-family: 'Josefin Sans', sans-serif;
}
.background{
    align-content: right;

}

.jumbotron{
    font-family: 'Pacifico';
    color: purple;
    background-color: white;
    padding-bottom: 50px;
    margin-top: -20px;


}

.header2{
    font-family: 'Nunito';
}
.home{

}
