body {background-color:#582c83}
#maincontent {
  background-color: white;
  min-height: 100vh
}


.pacifico {
  font-family: pacifico;
  color:#582c83;
  font-size:70pt;
  text-align:center;
  padding-bottom:40px
}


.nav {
    display: flex;
    align-items: center;
}

#dLabel{
    border: none;
    margin: auto;
    padding: 15px;
    background-color: inherit;
    align-content: center;
}

#home{
  border-bottom: 3px solid transparent;
}
#home:hover {
    border-bottom: purple 3px solid;

}
#about{
  border-bottom: 3px solid transparent;
}
#about:hover{
    border-bottom: purple 3px solid;
}
#legal{
  border-bottom: 3px solid transparent;
}
#legal:hover {
    border-bottom: purple 3px solid;

}
#dLabel{
  border-bottom: 3px solid transparent;
}
#dLabel:hover {
    border-bottom: purple 3px solid;
}

.nav li:hover li a:hover {
  background-color: #F3E5F5;
}


.navbar-default{
    background-color: #582c83;
}

.header{
  color:  #ffffff !important;
  font-weight: bold;
  font-size: 150%;
}

.container{
  border-left: solid #E0E0E0 30px;
  border-right: solid #E0E0E0 30px;
}
